.hero {
  width: 100%;
  height: 110vh;
  position: relative;
  overflow: hidden;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zooms 20s infinite;
}
@keyframes zooms {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.hero .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 25%;
  width: 100%;
}

.hero .hero-text p {
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem 0 2rem 0;
}
.hero .hero-text sup {
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 4px;
}
.hero .hero-text .btnLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero .hero-text .aggettivi {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 950px;
  height: 300px;
  margin: 10px;
}
.hero .hero-text .aggettivi .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
}
.hero .hero-text .aggettivi .text .text-animated-one,
.hero .hero-text .aggettivi .text .text-animated-two {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero .hero-text .aggettivi .text .text-animated-one h1,
.hero .hero-text .aggettivi .text .text-animated-two h1 {
  font-size: 5rem;
  letter-spacing: 10px;
}
.hero .hero-text .aggettivi .text .text-animated-one {
  transform: translateX(0%);
  animation: slide-en infinite ease-in-out;
  animation-duration: 20s;
}
@keyframes slide-en {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(120%);
  }

  100% {
    transform: translateY(0%);
  }
}

.hero .hero-text .aggettivi .text .text-animated-two {
  transform: translateX(-120%);
  animation: slide-sin infinite ease-in-out;
  animation-duration: 20s;
}
@keyframes slide-sin {
  0% {
    transform: translateY(-120%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-120%);
  }
}

.btnLinks .btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgb(250, 250, 250, 0.5)
  );
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 1rem 2rem;
  margin: 1rem;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.8s ease-in-out;
}

.btnLinks .btn:hover {
  opacity: 0.95;
  background: linear-gradient(0deg, dodgerblue, #1977d1);
}

.btnLinks .btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1),
      0 0 0 80px rgba(255, 255, 255, 0);
  }
}
@media only screen and (min-device-width: 350px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */

  .hero-text h1 {
    padding: 5px;
  }
  .hero-text p {
    font-size: 1.1rem;
    padding: 0 0 2rem 0;
  }
  .hero-text .btnLinks .btn {
    padding: 0.5rem 1.1rem;
    border-radius: 6px;
    font-size: 1rem;
  }
  .hero .hero-text {
    position: absolute;
    top: 20%;
  }
  .hero .hero-text .btnLinks {
    flex-direction: column;
  }

  .hero .hero-text .aggettivi {
    width: 100%;
    height: 300px;
  }
  .hero .hero-text .aggettivi .text .text-animated-one h1,
  .hero .hero-text .aggettivi .text .text-animated-two h1 {
    font-size: 2rem;
    letter-spacing: 2px;
  }
}
